body{
    margin: 0px;
    overflow: hidden;
    align-self: center;
}

rect{
    fill:steelblue;
}

circle{
    fill:red;
    opacity: 0.3;
}

.line-path{
    fill: maroon;
    opacity: 0.3;
    stroke: maroon;
    stroke-width: 5;
    stroke-linejoin: round;
}

text {
    font-size: 2.5em;
    font-family: sans-serif;
}

.tick text{
    font-size: 2em;
    fill: #635F5D;
}

.tick line{
    stroke: #C0c0BB;
}

.xAxis-label{
    font-size: 3em;
    fill: #635F5D;
    font-family: sans-serif;
}