.App {
  text-align: center;
}
/*
body{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  overflow: hidden;
  align-self: center;
}
*/
svg{
  background: honeydew;
}

div.App{
  width: 970px;
  height: 550px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  padding: 20px;
}
