.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  overflow: hidden;
  align-self: center;
}

svg{
  background: honeydew;
}
/*path{
  fill: none;
  stroke: #57bdc3;
}*/

.country:hover{
  fill: lightgrey;
}
.country{
  stroke: black;
  stroke-width: 0.1px;
}

.country.highlighted {
  stroke: black;
  stroke-width: 0.6px;
}


.sphere{
  fill: darkblue;
  stroke: black;
  /*stroke-opacity: 0.1;*/
}

div.App{
  width: 970px;
  height: 550px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  padding: 20px;
}

circle {
  fill: red;
  opacity: 0.3;
}

.tick line{
  stroke: #c0c0bb;
}

.xAxis-label{
  font-size: 2.5em;
}

#menus {
  font-size: 2.5rem;
  text-align: center;
}
#menus select {
  font-size: 1.3rem;
}